<div id="Content_Area">
    <h1>ENQUIRY <span id="enp">FORM</span></h1>
        
            
            <div>
    
                <table width="450px" align="center" cellpadding="3" cellspacing="3">
                    <tbody><tr>
                        <td align="right" class="style2">
                            <span class="style2">Name</span> <span style="color:Red;" class="style2">*</span></td>
                        <td>&nbsp;
                            </td>
                        <td>
                            <input name="txtname" type="text" id="txtname" class="txtborder" style="width:180px;font-family: Verdana; font-size: 11px">
                            <span id="RequiredFieldValidator1" class="style3" style="color:#CC3300;display:none;">*</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="right" class="style2">
                            <span class="style2">Company Name </span> <span style="color:Red;" class="style2">*</span></td>
                        <td>&nbsp;
                            </td>
                        <td>
                            <input name="txtcompanyname" type="text" id="txtcompanyname" class="txtborder" style="width:180px;font-family: Verdana; font-size: 11px">
                            <span id="RequiredFieldValidator2" class="style3" style="color:#CC3300;display:none;">*</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="right" class="style2">
                            <span class="style2">Email ID </span> <span style="color:Red;" class="style2">*</span></td>
                        <td>&nbsp;
                            </td>
                        <td>
                            <input name="txtemailid" type="text" id="txtemailid" class="txtborder" style="width:180px;font-family: Verdana; font-size: 11px">
                            <span id="RequiredFieldValidator3" class="style3" style="color:#CC3300;display:none;">*</span>
                            <span id="RegularExpressionValidator1" class="style3" style="color:#CC3300;display:none;">*</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="right" class="style2">
                            <span class="style2">Tel. No. </span> <span style="color:Red;" class="style2">*</span></td>
                        <td>&nbsp;
                            </td>
                        <td>
                            <input name="txttelno" type="text" id="txttelno" class="txtborder" style="width:180px;font-family: Verdana; font-size: 11px">
                            <span id="RequiredFieldValidator4" class="style3" style="color:#CC3300;display:none;">*</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="right" class="style2">
                            Fax No. </td>
                        <td>&nbsp;
                             </td>
                        <td>
                             <input name="txtfaxno" type="text" id="txtfaxno" class="txtborder" style="width:180px;font-family: Verdana; font-size: 11px"></td>
                    </tr>
                    <tr>
                        <td align="right" class="style2">
                            Web Site</td>
                        <td>&nbsp;
                            </td>
                        <td>
                            <input name="txtwebsite" type="text" id="txtwebsite" class="txtborder" style="width:180px;font-family: Verdana; font-size: 11px"></td>
                    </tr>
                    <tr>
                        <td align="right" class="style2">
                            <span class="style2">Address </span> <span style="color:Red;" class="style2">*</span></td>
                        <td>&nbsp;
                             </td>
                        <td>
                             <textarea name="txtaddr" rows="2" cols="20" id="txtaddr" class="txtborder" style="height:100px;width:180px;font-family: Verdana; font-size: 11px"></textarea>
                             <span id="RequiredFieldValidator5" class="style3" style="color:#CC3300;display:none;">*</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="right" class="style2">
                            <span class="style2">Your Precious Requirements </span> 
                            <span style="color:Red;" class="style2">*</span></td>
                        <td>&nbsp;
                            </td>
                        <td>
                            <textarea name="txtreq" rows="2" cols="20" id="txtreq" class="txtborder" style="height:100px;width:180px;font-family: Verdana; font-size: 11px"></textarea>
                            <span id="RequiredFieldValidator6" class="style3" style="color:#CC3300;display:none;">*</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">&nbsp;
                            </td>
                        <td>&nbsp;
                            </td>
                        <td>
                            <input type="submit" name="btnsubmit" value="Submit" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;btnsubmit&quot;, &quot;&quot;, true, &quot;0&quot;, &quot;&quot;, false, false))" id="btnsubmit" class="style3">
                        &nbsp;<input type="submit" name="btncancel" value="Cancel" id="btncancel" class="style3">
                        </td>
                    </tr>
                </tbody></table>
            
            </div>

            

   </div>