

   <div id="Content_Area" style="position:relative;">
    <a href="resources/pdf/profile.pdf" target="_blank"><div class="Download"></div></a>
    <h1>ABOUT <span id="enp">US</span></h1>
      <p>We, <b>BESTWAY Oilfield &amp; Gas Equipment LLC </b>, One of the leading stockiest and supplier of Piping Materials in UAE. We have been successfully serving both domestic and international industries of Offshore-Onshore, Petrochemical, drilling, Marine, and Energy-Power sector by having head office located in heart of Sharjah, and the branch offices in Dubai &amp; Damam-Saudi Arabia.<br><br>
          <b>WE STOCKS&amp; SUPPLY</b>
    </p><table width="563" border="0" class="Table_3">
<tbody><tr>
                  <td width="15"><img src="resources/images/arrow_icon.jpg"></td>
                  <td width="538">Pipes- Welded/Seamless- : Caron Steel, Stainless Steel, Alloy steel</td>
      </tr>
                <tr>
                  <td width="15"><img src="resources/images/arrow_icon.jpg"></td>
                  <td>Pipefittings-Butweld/Forged - : Caron Steel, Stainless Steel, Alloy steel</td>
                </tr>
                <tr>
                  <td width="15" valign="top"><img src="resources/images/arrow_icon.jpg"></td>
                  <td valign="top">Flanges-Weld Neck, Slipon, Blind, Socket Weld, Long weld neck, Threaded.Flange
as per customer drawing :- Caron Steel, Stainless Steel, Alloy steel</td>
                </tr>
                <tr>
                  <td width="15" valign="top"><img src="resources/images/arrow_icon.jpg"></td>
                  <td>Valves –Forged and Casting - Gate,Globe,Ball,Check,Plug - Caron Steel, Stainless
Steel, Alloy steel</td>
                </tr>
                <tr>
                  <td width="15"><img src="resources/images/arrow_icon.jpg"></td>
                  <td>Gaskets- Ring gasket, Spiral wound gasket, Gasket sheets</td>
                </tr>
                <tr>
                  <td width="15"><img src="resources/images/arrow_icon.jpg"></td>
                  <td>Fasteners</td>
                </tr>
                <tr>
                  <td width="15"><img src="resources/images/arrow_icon.jpg"></td>
                  <td>Wire mesh</td>
                </tr>
    </tbody></table>
    
    
   

          
          <table width="563" border="0" class="Table_3">
          <tbody><tr>
                  <td colspan="2"><b>OUR STRENGTH</b></td>
            </tr>
<tr>
                  <td width="15"><img src="resources/images/arrow_icon.jpg"></td>
                  <td width="538">Wide range of stock- Approved brands./Non approved brands</td>
      </tr>
                <tr>
                  <td width="15"><img src="resources/images/arrow_icon.jpg"></td>
                  <td>Efficient Team work -with professional and skilled persons.</td>
                </tr>
                <tr>
                  <td width="15" valign="top"><img src="resources/images/arrow_icon.jpg"></td>
                  <td valign="top">Direct import from mill –Manufacture from USA/EUROPE/JAPAN/KOREA/FAR EAST</td>
                </tr>
                <tr>
                  <td width="15" valign="top"><img src="resources/images/arrow_icon.jpg"></td>
                  <td>Quality &amp; Standard- Separate QC/QA department ensure for the quality of material at
the time of material receipt and material issue .We have awarded latest certification of
ISO 9001-2008 certification ,for keeping quality in all level.</td>
                </tr>
                
    </tbody></table>
    
    
    
    
    <table width="563" border="0" class="Table_3">
          <tbody><tr>
                  <td height="26" colspan="2"><b>MAJOR PROJECTS COMPLETED</b></td>
            </tr>
<tr>
                  <td width="15"><img src="resources/images/arrow_icon.jpg"></td>
                  <td width="538">RAS GAS Project</td>
      </tr>
                <tr>
                  <td width="15"><img src="resources/images/arrow_icon.jpg"></td>
                  <td>Yemen LNG Project</td>
                </tr>
                <tr>
                  <td width="15"><img src="resources/images/arrow_icon.jpg"></td>
                  <td>Ras Laffan Project</td>
                </tr>
                <tr>
                  <td width="15"><img src="resources/images/arrow_icon.jpg"></td>
                  <td>Habshan Gas Project</td>
                </tr>
                <tr>
                  <td width="15"><img src="resources/images/arrow_icon.jpg"></td>
                  <td>Dubai Railway Project.</td>
                </tr>
                <tr>
                  <td width="15"><img src="resources/images/arrow_icon.jpg"></td>
                  <td>KBR</td>
                </tr>
                <tr>
                  <td width="15"><img src="resources/images/arrow_icon.jpg"></td>
                  <td>Abudhabi Water &amp; Electricity</td>
                </tr>
                <tr>
                   <td width="15"><img src="resources/images/arrow_icon.jpg"></td>
                  <td>Qatar Petrolum</td>
                </tr>
    </tbody></table><p></p>

    
          
</div>
   
