<div>
	  
        
        
        <div id="Welcome_Area" style="background:#FFFFFF;">
        	<div id="Welcome">
        		<h1></h1>
        			<p>
        			BESTWAY OILFIELD &amp;GAS EQUIP. LLC , the global experts for piping and structural steel materials servicing customers worldwide, continues their success story . We, Strongly committed to quality and customer service, we are the reliable partner for all piping and needs. 
                    </p><div class="Read_more"><a href="">more..</a></div>
                    <p></p>
        	</div>
            
            
    <div id="Activities"  class="float-left">
           	  <h1>Bestway <span>Activities are:</span></h1>
            		<table width="245" border="0">
                          <tbody><tr>
                            <td width="16"><img src="/assets/images/list_icon.jpg" width="13" height="13"></td>
                            <td width="219">Stockholder</td>
                          </tr>
                          <tr>
                            <td><img src="/assets/images/list_icon.jpg" width="13" height="13"></td>
                            <td>Package supplier for projects</td>
                          </tr>
                          <tr>
                            <td><img src="/assets/images/list_icon.jpg" width="13" height="13"></td>
                            <td>Supply to stockholders worldwide</td>
                          </tr>
                     </tbody></table>
            </div>
        </div>
      </div>


      <div id="Bottom_Container">  
          <div id="Home_Links">
            <div id="Box_1">
              <h1><span>Product</span> Overview</h1>
                <ul>
                        <li><a href="Pipes.html">Pipes</a></li>
                          <li><a href="Buttweld-Fittings.html">Buttweld Fittings</a></li>
                              <li><a href="Forged-Fittings.html">Forged Fittings</a></li>
                              <li><a href="Flanges.html">Flanges</a></li>
                              <li><a href="valves.html">Valves</a></li>
                              <li><a href="olets.html">O LETS</a></li>
                              <li><a href="gaskets.html">Gaskets &amp; Fasteners</a></li>
                              <li><a href="bend.html">Bend</a></li>
                </ul>
                  </div>
                  
                  <div id="Box_1" style="padding-left:30px; width:300px;">
              <h1><span>Client </span> Reference List</h1>
                <ul style="width:270px;">
                        <li>Petronas Carigali, Kemaman, Malaysia</li>
                  <li>Petronas Gas Berhad, Malaysia</li>
                          <li>Terengganu Crude Oil  Terminal, ExxonMobil</li>
                  <li>Malaysia LNG 3 Plant</li>
                          <li>ExxonMobil, Malaysia</li>
                  <li>Grove-Dresser, Malaysia Operations</li>
                          <li>Sime Sembawang Engineering (SDE)</li>
                          <li>Terengganu Crude Oil  Terminal, ExxonMobil</li>
                </ul>
                  </div>
                  
                  
                  
                  <div id="Box_1" style="padding-left:30px; width:330px; border:none;">
              <h1><span>News &amp; </span> Events</h1>
                  
                    <marquee scrollamount="2" direction="up" behavior="scroll" height="160" onmousedown="this.stop()" onmouseover="this.stop()" onmousemove="this.stop()" onmouseout="this.start()"></marquee>
                  </div>
              </div>
          
            
             
      <div id="Logos">
          <div id="Logo_Box1">
            <img src="assets/images/logo_1.jpg" width="84" height="56">
            <img src="assets/images/logo_2.jpg" width="86" height="55">
            <img src="assets/images/logo_3.jpg" width="53" height="55">
            <img src="assets/images/logo_4.jpg" width="50" height="55">
                <img src="assets/images/logo_5.jpg" width="52" height="54">
                <img src="assets/images/logo_6.jpg" width="154" height="55"> 
            </div> 
            
            <div id="Logo_Box2"><img src="assets/images/bottom_logo.jpg" width="247" height="62"></div> 
        </div>	
     </div>